@model List<Vidly.Models.Movie>
@{
    ViewBag.Title = "Movie List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var className = Model.Count > 1 ? "popular" : null;
}

<div class="container">
    <h2>Movies</h2>

    @if (Model.Count == 0)
    {
        <text>No one no movies in record</text>
    }
    else
    {
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th></th>
                    <th> Movie </th>
                    <th> Genre </th>
                    <th> Stock </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var movie in Model)
                {
                    <tr>
                        <td>
                            <a href="/movies/edit/@movie.Id">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                        </td>
                        <td>
                            @Html.ActionLink(@movie.Name, "Details", new { id = movie.Id })
                        </td>
                        <td>@movie.Genre.Name</td>
                        @if (@movie.NumberInStock == 0)
                        {
                            <td>out of stock</td>
                        }
                        else if (@movie.NumberInStock < 3)
                        {
                            <td>running low (only @movie.NumberInStock left)</td>
                        }
                        else
                        {
                            <td>in stock (@movie.NumberInStock left)</td>
                        }
                    </tr>
                }
            </tbody>
        </table>

    }

    @Html.ActionLink("Add Movie", "New")
</div>